Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [4]:
# movies = pd.read_csv('movies.csv')
# ratings = pd.read_csv('ratings.csv')
movies_ratings = movies.merge(ratings, on = 'movieId', how = 'left')
movies_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [5]:
def classification(rating):
    if rating <= 2:
        return 'Low'
    elif rating <=4:
        return 'Medium'
    else:
        return 'High'

In [7]:
movies_ratings['class'] = movies_ratings['rating'].apply(classification)
movies_ratings.head(20)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,Medium
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,Medium
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,High
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,Medium
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,High
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18.0,3.5,1.455210e+09,Medium
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19.0,4.0,9.657056e+08,Medium
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21.0,3.5,1.407619e+09,Medium
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27.0,3.0,9.626853e+08,Medium
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31.0,5.0,8.504666e+08,High
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32.0,3.0,8.567361e+08,Medium
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33.0,3.0,9.396474e+08,Medium
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40.0,5.0,8.320590e+08,High
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43.0,5.0,8.489940e+08,High
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44.0,3.0,8.692519e+08,Medium
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45.0,4.0,9.511702e+08,Medium
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46.0,5.0,8.347879e+08,High
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50.0,3.0,1.514238e+09,Medium
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54.0,3.0,8.302473e+08,Medium
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57.0,5.0,9.657960e+08,High

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [3]:
df = pd.read_csv('keywords.csv')
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [4]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск', 'новосибирск'] }

In [5]:
def classificator(keyword):
    i = 0
    while i < len(geo_data):
        region = 'undefined'
        for key, value in geo_data.items():
            for city in value:
                if city in keyword:
                    region = key
            i +=1
    return region

In [6]:
df['region'] = df['keyword'].apply(classificator)
# df.head()
df['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [101]:
years = [x for x in range(1950, 2011, 1)]
print(type(years[10]))

<class 'int'>

In [116]:
def production_year(title):
    year_to_put = '1900'
    for year in years:
        if str(year) in title:
            return year

In [117]:
# movies_ratings.head()
movies_ratings['year'] = movies_ratings['title'].apply(production_year)
movies_ratings.head()

,movieId,title,genres,userId,rating,timestamp,class,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08,Medium,1995.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08,Medium,1995.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09,High,1995.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09,Medium,1995.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09,High,1995.0

In [126]:
obj = movies_ratings.groupby('year')

In [132]:
obj.mean().sort_values('rating', ascending=False).reset_index().head(1)

     year      movieId      userId    rating     timestamp
0  1957.0  3012.213953  315.865116  4.039535  1.178092e+09